.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00535a;
  border-radius: 2rem;
  text-align: center;
}

.btn {
  width: 15rem;
  height: 50px;
  color: #ffffff;
  background: none;
  border-radius: 32px;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
}

.subFilter {
  padding: 0.5rem 0;
}

.subBtn {
  border: none;
  width: 15rem;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
}

.modalWrapper {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
}

.modalFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;

  padding: 0 0.5rem 2rem 0.5rem;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoriesBtn {
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0;
}

.hidden {
  display: none;
}

/* ----- Media Query for å bytte ut knapper med modal ----- */

@media screen and (min-width: 695px) and (max-width: 1080px) {
  .btn {
    display: none;
  }

  .modal {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .btn {
    display: none;
  }

  .modal {
    display: none;
  }
}
